fastapi==0.104.1
uvicorn==0.24.0
opencv-python-headless==4.8.1.78
ultralytics==8.0.200
deepface==0.0.79
mediapipe==0.10.8
firebase-admin==6.2.0
python-multipart==0.0.6
numpy==1.26.2
Pillow==10.1.0
websockets==12.0
tf-keras==2.15.0
